@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-end-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}

#word {
  margin-right: 0.8rem;
  margin-top: 0.5rem;
  position: relative;
}

#shadow {
  position: absolute;
  opacity: 0.1;
}

/* play button from the shader cards */
.player {
  background: none;
  width: 50px;
  height: 50px;
  border: solid 3px #fff;
  border-radius: 100%;
  position: relative;
  text-indent: -9999px;
  box-shadow: 1px 1px 3px #999999;
}

.player span {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-left: 20px solid #fff;
  border-bottom: 15px solid transparent;
  position: absolute;
  top: 20%;
  left: 36%;
}

.player:hover {
  background: #4ccaea;
  cursor: pointer;
  opacity: 0.8;
  border: none;
  position: absolute;
  width: 60px;
  height: 60px;
  box-shadow: none;
}

.player:hover span {
  top: 25%;
  left: 38%;
}

/* tooltips */
.label > div {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: aliceblue;
  font-weight: 500;
  position: absolute;
  background-color: #00000088;
  padding: 15px;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 30px;
  user-select: none;
  width: 250px;
  text-wrap: wrap;
  text-decoration: none;
  /* fade in animation in css */
  opacity: 0;
  animation: fadeIn 0.5s ease-in forwards;
  z-index: 9;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.link > div {
  text-decoration: none;
}

.hidden {
  display: none;
}

/* tooltip */
.tooltip-container {
  position: relative; /* Required for absolute positioning of the tooltip */
}

.tooltip-container::after {
  content: attr(data-tooltip);
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  background-color: #181818;
  color: #f5f5f7;
  padding: 5px 10px;
  border-radius: 4px;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
  z-index: 9;
}

.tooltip-container:hover::after {
  opacity: 1;
}

/* htmlscreen */

.htmlScreen iframe {
  width: 1280px;
  height: 720px;
  border: none;
  border-radius: 10px;
  background: #000000;
  overflow: hidden;
  z-index: -9999;
}

.htmlLaptopScreen iframe {
  width: 1280px;
  height: 800px;
  border: none;
  border-radius: 20px;
  background: #000000;
  overflow: hidden;
  z-index: 0;
}

.iframe--div {
  z-index: 0;
  position: relative;
}
